.simple-accordion-title-wrap,
.simple-accordion-content {
    border-width: var(--simple-accordion--border-width);
    border-color: var(--simple-accordion--title--bg-color);
}

.simple-accordion-title-wrap {
    border-style: none solid;
    cursor: auto;
}

.simple-accordion-content {
    border-style: none dashed dashed;
}

.simple-accordion-input-control .components-input-control__container {
    max-width: 80px;
    margin-left: auto;
}