:root {
    --simple-accordion--title--font-size: 1em;
    --simple-accordion--title--font-color: #000;
    --simple-accordion--title--bg-color: #ebecf0;
    --simple-accordion--content--font-color: inherit;
    --simple-accordion--content--bg-color: transparent;
    --simple-accordion--arrow--width: 2.6em;
    --simple-accordion--padding-tb: 0.8em;
    --simple-accordion--padding-lr: 20px;
    --simple-accordion--border-width: 3px;
    --simple-accordion--duration: 0.5s;
}

.simple-accordion {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: 0;
    overflow: hidden;
}

.simple-accordion *,
.simple-accordion *::before, 
.simple-accordion *::after {
    box-sizing: inherit;
}

.simple-accordion-title-wrap {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--simple-accordion--title--bg-color);
    cursor: pointer;
}

.simple-accordion-title-wrap.no-pointer {
    cursor: auto;
}

.simple-accordion-title,
.simple-accordion-arrow {
    font-size: var(--simple-accordion--title--font-size);
    line-height: 1;
    text-align: left;
    color: var(--simple-accordion--title--font-color);
}

.simple-accordion-title {
    display: block;
    max-width: calc(100% - var(--simple-accordion--arrow--width));
    margin: 0;
    padding: var(--simple-accordion--padding-tb) var(--simple-accordion--padding-lr);
    word-wrap: break-word;
}

.simple-accordion-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--simple-accordion--arrow--width);
    height: 100%;
}

.simple-accordion-arrow .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%) rotate(180deg);
    text-align: center;
    transition: transform var(--simple-accordion--duration);
}

.simple-accordion.is-closed .fa-angle-down {
    transform: translateY(-50%) translateX(50%);
}

.simple-accordion-content {
    padding: 0 var(--simple-accordion--padding-lr);
    color: var(--simple-accordion--content--font-color);
    background-color: var(--simple-accordion--content--bg-color);
    overflow: hidden;
}

.simple-accordion.has-border .simple-accordion-title-wrap {
    border-width: var(--simple-accordion--border-width);
    border-style: none solid;
    border-color: var(--simple-accordion--title--bg-color);
}

.simple-accordion.has-border .simple-accordion-content {
    border-width: var(--simple-accordion--border-width);
    border-style: none solid solid;
    border-color: var(--simple-accordion--title--bg-color);
}